{% extends 'base.html' %}
{% load static %}

{% block contents %}
<style>
  .container div {
  width: 250px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
  .container img {
    width: 100%;
    border-radius: 1rem;
  }

</style>

<div class="container">
    {% for article in article_list %}
    <a href="{% url 'articleapp:detail' pk=article.pk %}">
        {% include  'snippets/card.html' with article=article %}
    </a>
    {% endfor %}
</div>

<br>
<center>
    {% if user.is_authenticated %}
    <a href="{% url 'articleapp:create' %}" class="btn btn-secondary rounded-pill col-1 mt-3 mb-3">
            Article 생성
    </a>
    {% endif %}
</center>

{% include 'snippets/pagination.html' with page_obj=page_obj %}

<script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}